---
import Card from "./Card/index.astro";
---



<Card colSpan="md:col-span-1" rowSpan="md:row-span-8" title="">
  <div class="flex flex-col gap-2">
    <h6 >Lenguajes</h6> 
    <div class="text-sm font-light">
      <ul class="list-disc list-inside">
        <li>Java </li>
        <li>C#</li>
        <li>Python</li>
        <li>Node Js</li>
        <li>JavaScript</li>
        <li>Php</li>
      </ul>
    </div>
    <h6 >Herramientas y Tecnologías</h6> 
    <div class="text-sm font-light">
    <p class="text-sm font-light">
      En distintos proyectos tuve la oportunidad de utilizar diferentes herranientas y tecnologias incluidas:
    </p>
    <p class="text-sm font-light">
      Spring, Spring boot, Spring Jdbc Template, Retrofit, maven, lombok, swagger, 
      openApi, Config Server, Api Gateway, CircutBreaker, JUnit, Mockito, Git, GitBash, Jira, Docker, SonarCube, entre otros.
    </p>
  </div>

  <div class="flex flex-col gap-2">
    <h6 >Base de datos</h6> 
    <ul class="list-disc list-inside">
      <li>MongoDb </li>
      <li>MySQL</li>
      <li>Sql Server</li>
      <li>Postgres</li>
      <li>Oracle</li>
      <li>Sqlite</li>
      <li>Db2</li>
      <li>H2</li>
    </ul>
  </div>

  </div>

</Card>

