---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card/index.astro";
import HeaderMain from "../../components/HeaderMain.astro";
import { getCollection } from "astro:content";
const projects = (await getCollection("projects"))?.sort(
  (blogEntryA, blogEntryB) =>
    (blogEntryB.data.pubDate || new Date()).getTime() -
    (blogEntryA.data.pubDate || new Date()).getTime()
);
---

<script>


  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../../lib/constants";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>
 
<Layout
  title="Gianmarco Cavallo - Freelance front-end Developer"
  description="I'm a developer based in Italy, passionate about user experience and specializing in engaging animations and micro-interactions. My primary tools of choice include: JavaScript, React, Solid.js, Astro, Svelte, and Node.js."
>
<HeaderMain/>
<main
    class="text-white m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative  w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:grid-cols-4 lg:gap-4"

  >

{
  projects?.map((project) => (
  <Card colSpan="md:col-span-2" rowSpan="md:row-span-2" title={project.data.title}
    href= {`/projects/${project.slug}`}>
    <p class="text-xs">{project.data.description}</p>  
  </Card>

  ))
  
}
  </main>
</Layout>
